html {
  overflow-x: hidden;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.guitar {
  position: absolute;
  top: 0%;
  width: 100%;
  height: auto;
  z-index: -1;
  right: 20px;

  @media (max-width: 600px) {
    right: 0;
    
  }
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 3rem;

  background: linear-gradient(90deg, #d4af37, #ffd700, #fff2a8, #d4af37);

  background-clip: text;

  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
  z-index: 1000;
  padding-left: 37%;
  padding-top: 17%;
  
    @media (max-width:600px) {
      padding-left: 39%;
      font-size: 1rem;
      padding-top: 16%;

    }
}

.nav {
  display: flex;
  justify-content: center;
  padding-right: 200px;
  gap: 50px;
  margin-top: 0px;
  padding: 20px;

}

button {
  background-color: rgb(197, 197, 197);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  font-family: sans-serif;
  width: 100px;
  height: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}