html {
  overflow-x: hidden;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.guitar {
  position: absolute;
  top: 0%;
  width: 100%;
  height: auto;
  z-index: -1;
  right: 20px;

  @media (max-width: 600px) {
    right: 0;
    
  }
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 3rem;

  background: linear-gradient(90deg, #d4af37, #ffd700, #fff2a8, #d4af37);

  background-clip: text;

  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
  z-index: 1000;
  padding-left: 37%;
  padding-top: 11%;
  
    @media (max-width:600px) {
      padding-left: 39%;
      font-size: 1rem;
      padding-top: 16%;

    }
}

.navbar{
  width:100%;
  height:90px;

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:0 60px;

  background:#1a1a1a;
  border-bottom:1px solid #2d2d2d;
}

.logo1{
  width: auto;
  height: 70px;

}

.nav-links{
  display:flex;
  gap:25px;
}

.nav-links a{
  text-decoration:none;
  color:white;

  padding:12px 26px;

  background:#2c2c2c;
  border-radius:12px;

  transition:0.3s;
}

.nav-links a:hover{
  background:#f5c542;
  color:black;
}

.profile-icon{
  width:50px;
  height:50px;

  display:flex;
  align-items:center;
  justify-content:center;

  border-radius:50%;

  background:#2c2c2c;

  font-size:24px;
  cursor:pointer;

  transition:0.3s;
}

.profile-icon:hover{
  background:#ffbb00;
}

a {
  text-decoration: none;
  color: inherit;
}



.footer {
  background: #dcdcdc;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 50px 80px 20px;
}


.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  border-bottom: 1px solid #bbb;
  padding-bottom: 40px;
}


.footer-left {
  max-width: 350px;
}

.logo {
  font-size: 40px;
  margin-bottom: 20px;
}

.address strong {
  display: block;
  margin-bottom: 5px;
}

.address p {
  line-height: 1.5;
}


.socials {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.socials a {
  margin-right: 15px;
  font-size: 20px;
  text-decoration: none;
}


.footer-right {
  display: flex;
  gap: 60px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h4 {
  margin-bottom: 15px;
}

.footer-column a {
  margin-bottom: 10px;
  text-decoration: none;
  color: #444;
  transition: color 0.3s;
}

.footer-column a:hover {
  color: #000;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
}

.footer-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #555;
}

.footer-links a:hover {
  color: #000;
}


@media (max-width: 900px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-right {
    flex-wrap: wrap;
    gap: 30px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

.icons {
  width: 30px;
  height: auto;
}